<template>
  <div class="citas">
    <!-- Header -->
    <div class="d-flex flex-row align-center justify-space-between">
      <div class="pb-8">
        <v-btn icon @click="prev">
          <v-icon>keyboard_arrow_left</v-icon>
        </v-btn>
        <v-btn icon @click="next">
          <v-icon>keyboard_arrow_right</v-icon>
        </v-btn>
      </div>
      <h1 class="pb-8" v-if="$refs.calendar">{{ $refs.calendar.title | capitalize }}</h1>
      <v-col cols="3">
        <v-select v-model="type" :items="typeOptions" solo></v-select>
      </v-col>
    </div>
    <!-- End -->

    <!-- Calendar Section -->
    <v-sheet height="70vh" class="elevation-3">
      <!-- Calendar -->
      <v-calendar
        ref="calendar"
        v-model="focus"
        color="primary"
        :type="type"
        :events="events"
        event-name="nombres"
        event-start="fecha_inicio"
        event-end="fecha_final"
        @click:more="viewDay"
        @click:date="viewDay"
        @click:event="showEvent"
      ></v-calendar>
      <!-- End -->

      <!-- Event Card -->
      <v-menu
        v-model="selectedOpen"
        :close-on-content-click="false"
        :activator="selectedElement"
        transition="scale-transition"
        offset-y
        max-width="350px"
      >
        <!-- Card Content -->
        <v-card min-width="350px" class="d-flex flex-column pr-2 pl-4 pb-4 pt-1">
          <div class="d-flex flex-row-reverse">
            <v-btn
              icon
              color="primary"
              @click="goToVerCita(selectedEvent.id_cita_medica, selectedEvent.paciente_id, selectedEvent.id_cesfam,citaDate(selectedEvent.fecha_inicio, selectedEvent.fecha_final),selectedEvent.nombre_cesfam,selectedEvent.nombres,selectedEvent.apellidos,selectedEvent.estado)"
            >
              <v-icon>mdi-eye</v-icon>
            </v-btn>
          </div>
          <div class="d-flex flex-row pb-4">
            <div class="pr-3">
              <v-icon>stop</v-icon>
            </div>
            <div class="d-flex flex-column">
              <div>{{selectedEvent.nombre_especialidad}}</div>
              <div
                class="text-caption"
              >{{selectedEvent.fecha_inicio | moment("lll")}} - {{selectedEvent.fecha_final | moment("LT")}}</div>
            </div>
          </div>
          <div class="d-flex flex-row pb-4">
            <div class="pr-3">
              <v-icon>person</v-icon>
            </div>
            <div>{{selectedEvent.nombres}} {{selectedEvent.apellidos}}</div>
          </div>
          <div class="d-flex flex-row pb-4">
            <div class="pr-3">
              <v-icon>place</v-icon>
            </div>
            <div class="d-flex flex-column">
              <div>{{selectedEvent.nombre_cesfam}}</div>
              <div class="text-caption">{{selectedEvent.dirección}}, {{selectedEvent.region}}, Chile</div>
            </div>
          </div>
          <div class="d-flex flex-row pb-4">
            <div class="pr-3">
              <v-icon>meeting_room</v-icon>
            </div>
            <div>Sala {{selectedEvent.nombre_sala}}</div>
          </div>
          <div class="d-flex flex-row">
            <div class="pr-3">
              <v-icon>notifications</v-icon>
            </div>
            <div>{{selectedEvent.fecha_inicio | moment("from", "now")}}</div>
          </div>
        </v-card>
        <!-- End -->
      </v-menu>
      <!-- End -->
    </v-sheet>
    <!-- End -->
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "Citas_Medicas",
  data: () => ({
    focus: "",
    type: "month",
    typeOptions: [
      { text: "Día", value: "day" },
      { text: "Semana", value: "week" },
      { text: "Mes", value: "month" },
    ],
    events: [],
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
  }),
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  mounted() {
    this.$emit("updateToolbarText", "");
    this.$emit("updateToolbarBack", false);
    this.$refs.calendar.move(0);
    axios
      .get(
        "http://52.87.209.179/api/citasTurnoFuncionario/" +
          this.currentUser.user.id
      )
      .then((response) => {
        this.events = response.data;
        console.log(response.data);
      });
  },
  methods: {
    citaDate(fecha_inicio, fecha_final) {
      return (
        this.$moment(fecha_inicio).format("lll") +
        " - " +
        this.$moment(fecha_final).format("LT")
      );
    },
    /* Back para calendario */
    prev() {
      this.$refs.calendar.prev();
    },

    /* Next para calendario */
    next() {
      this.$refs.calendar.next();
    },

    /* Ver dia en especifico (En el calendario) */
    viewDay({ date }) {
      this.focus = date;
      this.type = "day";
    },

    /* Mostrar los eventos del calendario */
    showEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event;
        this.selectedElement = nativeEvent.target;
        setTimeout(() => (this.selectedOpen = true), 10);
      };

      if (this.selectedOpen) {
        this.selectedOpen = false;
        setTimeout(open, 10);
      } else {
        open();
      }

      nativeEvent.stopPropagation();
    },

    /* Navegar hacia ver cita */
    goToVerCita(id_cita, id_paciente,id_cesfam, text, lugar, nombres, apellidos, estado) {
      /*eslint no-unused-vars: ["error", { "args": "none" }]*/
      this.$router
        .push({
          name: "Cita",
          query: {
            id_cita: id_cita,
            id_paciente: id_paciente,
            id_cesfam: id_cesfam,
            text: text,
            lugar: lugar,
            paciente: nombres + " " + apellidos,
            estado: estado,

          },
        })
        .catch((err) => {});
    },
  },
  filters: {
    capitalize: function (value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
  },
};
</script>
<style lang="scss" scoped>
</style>