<template>
  <div class="Cita_Observacion">
    <v-card flat class="pa-4 pl-12 pr-12" max-height="70vh">
      <div class="d-flex flex-row justify-space-between align-center mb-6">
        <div></div>
        <h1>Formulario de Observación</h1>
        <div></div>
      </div>
      <div>
        <label class="text-body-1">Observación</label>
        <v-textarea
            v-model="observacion"
            background-color="grey lighten-4"
            class="mt-3"
            placeholder="Observación..."
            solo
        ></v-textarea>
      </div>

      <!-- Seccion Documentos -->

      <div>


        <label class="text-body-1">Documentos</label>

        <!-- Ver Documentos -->

        <template>

          <v-chip-group
              mandatory
          >


            <v-chip
                link
                show-arrows
                v-for="(documento, index) in documentos"
                :key="index"
                color=info
                :href="'http://52.87.209.179/'+documento.ruta"
            >

              {{ splitRuta(documento.ruta) }}
            </v-chip>
          </v-chip-group>

        </template>

        <!-- Agregar Documentos -->
      
        <template>
          <v-file-input
              name="image"
              ref="files"
              v-model="images"
              color="info"
              multiple
              placeholder="Ingresar documentos"
              prepend-icon="mdi-paperclip"
              outlined
              max-size="1MB"
              :show-size="1000"
          >
            <template v-slot:selection="{ index, text }">
              <v-chip
                  v-if="index < 2"
                  color="info"
                  dark
                  label
                  small
              >
                {{ text }}
              </v-chip>

              <span
                  v-else-if="index === 2"
                  class="overline grey--text text--darken-3 mx-2"
              >
                +{{ images.length - 2 }} archivo(s)
              </span>
            </template>
          </v-file-input>
        </template>

        <!-- Boton agregar Observacion -->
      </div>
      <div class="d-flex flex-row-reverse">
        <v-btn
            text
            color="primary"
            :disabled="observacion === '' || compararFechas()"
            @click="submit"
        >Agregar observación
        </v-btn>
      </div>
    </v-card>

    <v-snackbar v-model="snackbar" :timeout="timeout">
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">Close</v-btn>
      </template>
    </v-snackbar>

  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "CitaObservacion",
  props: {
    idCita: [String, Number],
    obs: String,
  },
  data: () => ({
    cita: {},
    observacion: "",
    images: [],
    snackbar: false,
    text: "",
    timeout: 2000,
    documentos: "",
    fechaValida: false

  }),
  methods: {

    compararFechas() {
      var fechaCita = new Date(this.cita.fecha_inicio);
      var fechaActual = new Date();

      if (fechaCita.getTime() < fechaActual.getTime())
       return false
      else if (fechaCita.getTime() > fechaActual.getTime())
        return true
      else
        return  true

    },


    splitRuta(ruta) {

      return ruta.split("/")[3];

    },

    cargarDocumentos() {
      axios
          .get("http://52.87.209.179/api/verDocumentosCita/" + this.idCita)
          .then((response) => {
            this.documentos = response.data;
            console.log('ver ducomentos cita');
            console.log(response.data);
          });


    },

    submit() {
      console.log(this.idCita);
      console.log(this.images);

      if (this.images.length != 0) {
        var self = this;

        let formData = new FormData();
        for (let i = 0; i < this.images.length; i++) {

          let file = self.images[i];
          formData.append('files[' + i + ']', file);
        }

        const config = {
          headers: {"content-type": "multipart/form-data"}
        }

        axios
            .post("http://52.87.209.179/api/agregarDocumentosCita/" + this.idCita, formData, config)
            .then(response => {
              console.log(response);
            })

      }


      axios
          .put("http://52.87.209.179/api/agregarObservacion/" + this.idCita, {
            observacion: this.observacion,
          })
          .then((response) => {
            console.log(response);
            if (response.status == 200) {
              this.text = "Observación agregada";
              this.snackbar = true;
            }
          });

    },
  },

  mounted() {

    axios
        .get("http://52.87.209.179/api/verCita/" + this.idCita)
        .then((response) => {
          this.cita = response.data[0];
          console.log(this.cita);
        });

    this.cargarDocumentos();


    if (this.obs) {
      this.observacion = this.obs;
    }
    this.loading = true;
  },
};
</script>
<style lang="scss">
</style>