<template>
  <div class="Cita_Detalle">
    <v-card flat class="pa-4 pl-12 pr-12" max-height="70vh" v-if="!loading">
      <div class="d-flex flex-row justify-space-between align-center mb-6">
        <div></div>
        <h1>Datos de Consulta</h1>
        <div></div>
      </div>
      <v-row no-gutters>
        <v-col>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Fecha</span>
            <span>{{ cita.fecha_inicio | moment("dddd Do MMMM, YYYY")}}</span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Tipo de consulta</span>
            <span>
              <v-icon left>stop</v-icon>
              {{cita.nombre_especialidad}}
            </span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Lugar</span>
            <span>{{$route.query.lugar}}</span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Paciente</span>
            <span>{{$route.query.paciente}}</span>
          </v-row>
        </v-col>
        <v-col>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Hora</span>
            <span>{{cita.fecha_inicio | moment("LT")}} - {{cita.fecha_final | moment("LT")}}</span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Estado</span>
            <span>
              <v-icon left>stop</v-icon>
              {{cita.estado}}
            </span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Sala</span>
            <span>Sala {{cita.nombre_sala}}, {{cita.nombre_pabellon}}</span>
          </v-row>
          <v-row no-gutters class="d-flex flex-column mb-6">
            <span class="text-h6">Médico</span>
            <span>{{currentUser.userDetail.nombres}} {{currentUser.userDetail.apellidos}}</span>
          </v-row>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "CitaDetalle",
  props: {
    idCita: [String, Number],
  },
  data: () => ({
    cita: {},
    loading: false,
  }),
  methods: {},

  mounted() {
    this.loading = true;
    axios
      .get("http://52.87.209.179/api/verCita/" + this.idCita)
      .then((response) => {
        this.cita = response.data[0];
        console.log(this.cita);
        if (this.cita.observacion) {
          this.$emit("observacion", this.cita.observacion);
        }
        this.loading = false;
      });
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
};
</script>
<style lang="scss">
</style>