<template>
  <div class="Reagendar_Cita">
    <v-card>
      <v-toolbar dark dense flat color="warning lighten-1">
        <v-toolbar-title>Reagendar cita</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <div class="d-flex flex-row justify-space-around mt-4">
          <v-text-field
            v-model="especialidad.nombre_especialidad"
            solo
            dense
            return-object
            disabled
          ></v-text-field>
          <v-menu
            :ref="'menu'"
            v-model="fecha"
            :close-on-content-click="false"
            :return-value.sync="date"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="date"
                label="Fecha"
                prepend-inner-icon="event"
                readonly
                solo
                dense
                class="mr-2 ml-2"
                v-bind="attrs"
                v-on="on"
                :disabled="!citas_sin_cupo"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="date"
              no-title
              scrollable
              :min="new Date().toISOString().slice(0,10)"
              :allowed-dates=" val => (citas_sin_cupo.indexOf(val) == -1 || citas_canceladas.indexOf(val) !== -1)"
            >
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="fecha = false">Cancel</v-btn>
              <v-btn text color="primary" @click="saveRef('menu', date)">OK</v-btn>
            </v-date-picker>
          </v-menu>
          <v-select
            v-model="hora"
            :items="horas"
            label="Horas"
            item-text="hora_inicio"
            solo
            dense
            return-object
          ></v-select>
        </div>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error darken-1" text @click="closeDialog2">Cancelar</v-btn>
        <v-btn color="info darken-1" text @click="submit()">Reagendar cita</v-btn>
      </v-card-actions>
    </v-card>
    <v-snackbar v-model="snackbar" :timeout="timeout">
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">Close</v-btn>
      </template>
    </v-snackbar>
  </div> 
</template>

<script>
import axios from "axios";

export default {
  name: "ReagendarCita",
  props: {},
  data: () => ({
    especialidad: "",
    fecha: "",
    date: "",
    hora: "",
    horas: null,
    citas_sin_cupo: null,
    citas_canceladas: [],
    snackbar: false,
    text: "",
    timeout: 2000,
  }),
  methods: {
    closeDialog2() {
      this.$emit("closeDialog2", false);
    },
    obtenerFechas(id) {
      axios
        .get("http://52.87.209.179/api/buscarFechasCitaMedica", {
          params: {
            id_especialidad_cesfam: id,
          },
        })
        .then((response) => {
          this.citas_sin_cupo = response.data.citas_sin_cupo;
          this.citas_canceladas = response.data.citas_canceladas;
          console.log(response.data);
        });
    },
    saveRef(ref, date) {
      this.$refs[ref].save(date);
      this.obtenerHoras(date, this.$route.query.id_paciente);
    },
    obtenerHoras(date, idPaciente) {
      axios
        .get("http://52.87.209.179/api/buscarHorasCitaMedica", {
          params: {
            id_especialidad_cesfam: this.especialidad.id_especialidad_cesfam,
            fecha: date,
            id_paciente: idPaciente,
          },
        })
        .then((response) => {
          this.horas = response.data;
          console.log(response.data);
        });
    },
    cancelarCita(id) {
      axios
        .put("http://52.87.209.179/api/cancelarCita/" + id)
        .then((response) => {
          console.log(response);
          /*eslint no-unused-vars: ["error", { "args": "none" }]*/
          this.$router.push({ name: "Citas Medicas" }).catch((err) => {});
        });
    },
    submit() {
      axios
        .post("http://52.87.209.179/api/agregarCitaMedica", {
          nro_espera: this.hora.nro_espera,
          fecha_inicio: this.date + " " + this.hora.hora_inicio,
          fecha_final: this.date + " " + this.hora.hora_final,
          especialidad_cesfam_id: this.especialidad.id_especialidad_cesfam,
          sala_id: this.especialidad.id_sala,
          paciente_id: this.$route.query.id_paciente,
        })
        .then((response) => {
          console.log(response);
          if (response.status == 201) {
            this.text = "Cita re-agendada";
            this.snackbar = true;
            this.cancelarCita(this.$route.query.id_cita);
          }
        });
    },
  },

  mounted() {
    axios
      .get("http://52.87.209.179/api/verCita/" + this.$route.query.id_cita)
      .then((response) => {
        console.log(response.data[0]);
        this.especialidad = {
          id_especialidad_cesfam: response.data[0].id_especialidad_cesfam,
          nombre_especialidad: response.data[0].nombre_especialidad,
          id_sala: response.data[0].id_sala,
        };
        this.obtenerFechas(this.especialidad.id_especialidad_cesfam);
      });

    /* axios
      .get(
        "http://18.206.191.68/api/verEspecialidadesCesfam/" +
          this.$route.query.id_cesfam
      )
      .then((response) => {
        this.especialidades = response.data;
        console.log(response.data);
      });*/
  },
};
</script>
<style lang="scss">
</style>