<template>
  <div class="home">
    <!-- Sidebar Component -->
    <Sidebar v-model="drawer" @navigate="goTo"></Sidebar>
    <!-- End -->

    <!-- Toolbar Component -->
    <Toolbar
      v-bind:drawer="drawer"
      v-bind:title="$route.name"
      @toggle="toggleFunction"
      :text="toolbarText"
      :isBack="toolbarBack"
    ></Toolbar>
    <!-- End -->

    <!-- Contenido -->
    <v-main>
      <v-container fluid class="grey lighten-5 full-page">
        <transition name="slide-fade" mode="out-in">
          <router-view
            @updateToolbarText="updateToolbarText"
            @updateToolbarBack="updateToolbarBack"
          ></router-view>
        </transition>
      </v-container>
    </v-main>
    <!-- End -->
  </div>
</template>

<script>
import Sidebar from "../../components/Sidebar";
import Toolbar from "../../components/Toolbar";
export default {
  name: "Home",
  components: {
    Sidebar,
    Toolbar,
  },
  data: () => ({
    drawer: false,
    toolbarText: "",
    toolbarBack: false,
  }),
  methods: {
    /* Expandir y Contraer el sidebar */
    toggleFunction(value) {
      this.drawer = value;
    },
    /* Actualizar el titulo del Tooltip */
    updateToolbarText(text) {
      this.toolbarText = text;
    },
    /* Actualizar el estado del boton back en el Tooltip */
    updateToolbarBack(isBack) {
      this.toolbarBack = isBack;
    },
    /* Navegar hacia... recibe el nombre de la ruta */
    goTo(value) {
      /*eslint no-unused-vars: ["error", { "args": "none" }]*/
      this.$router.push({ name: value }).catch((err) => {});
    },
  },
  mounted() {
   
  }
};
</script>

<style lang="scss">
.full-page {
  min-height: 100vh;
}
.slide-fade-enter-active {
  transition: all 0.1s ease;
}
.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
